@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Krona+One&family=Montserrat:wght@400;600&family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --font-primaria: 'Montserrat', sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-primaria)
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}



.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto {
    text-decoration: none;
    color: var(--cor-terciaria);
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    padding: 3%
}

.apresentacao__links__subtitulo:hover {
    color: var(--cor-terciaria);
}

.apresentacao__imagem {
 width: 50%;   
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: ;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}

@media (max-width: 600px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        align-items: center;
        flex-direction: column;
    }

    .apresentacao {
        flex-direction: column-reverse;
           
    }

    .apresentacao__conteudo {
        width: auto;
    }

}

@media (max-width: 400px) {
    .cabecalho {
        padding: 5%;
        gap: 5px;
    }

    .cabecalho__menu {
        align-items: center;
        flex-direction: column;
        gap: 30%;
    }

    .apresentacao {
        flex-direction: column-reverse;
           
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__link {
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 50%;
        text-align: center;
        border: 2px solid var(--cor-terciaria);
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 600;
        padding: 21.5px 0;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--font-primaria);
        
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family: var(--font-secundaria);
    }
}